<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="static/css/style_index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
<div style="background-image: url('img/bg4.jpg');">
<div class="wrapper">
    <div class="sidebar">
        <h2>About</h2>
        <ul>
           <li><a href="{{url_for('home')}}"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="{{url_for('logout')}}"><i class="fas fa-user"></i>Log Out</a></li>
        </ul> 
        
    </div>
    <div class="main_content">
    	<img src="static/img/logo.png" width="50" height="50" align="right">
        <div class="header">User Profile</div>
        <div class="about">
        <p><br><br><br>Autism is a lifelong condition with no cure and there is no single medical test for diagnosing autism but a set of specific evaluations and assessments to confirm the condition and hence can help the child learn the necessary skills to improve the quality
of their life.Some of the assessments include: Physical and nervous system (neurological) test,Autism Diagnostic Interview - Revised (ADI-R),Autism Diagnostic Observation Schedule (ADOS),Childhood Autism Rating Scale (CARS)etc..These tests provide a complete view of a child’s current development and potential concerns, allowing the clinician to make an appropriate diagnosis and provide intervention recommendations.But the cost of such assessments can be quite expensive.Families with autistic children often face a huge financial burden. Expenses for autism treatment and therapies are not covered by
most private health insurers, and they are quite expensive. </p><br>
       <p> We aim to design a system for autism diagnosis that helps both the doctor and families
with autistic children in autism diagnostics process.The system mainly consists of two
parts based on Autism Diagnostic Interview (ADIS) which is a questionnaire system and
an observatory system based on Autism Diagnostic Observation Schedule (ADOS).</p></div>

<br><br><br><br><br>
<div class="container"><img src="static/img/doctors.png" style="float:right"/>


          
        
    </div>
</div>

</body>
</html>